
# Ignore folders.
.storage
.cloud
.google.token
.ssh

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

home-assistant_v2.*
home-assistant.log
home-assistant.log.*

speedtest
